<?xml version='1.0' encoding='utf-8'?>
<plugin id="dk-wsy-ntamobilepay" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Nta_mobilepay</name>
    <description>dk-wsy-ntamobilepay Plugin</description>
    <license>WSY-USAGE-LICENS</license>
    <keywords>cordova,dk-wsy-ntamobilepay</keywords>
    <js-module name="Nta_mobilepay" src="www/Nta_mobilepay.js">
        <clobbers target="nta_mobilepay" />
    </js-module>
    <hook type="after_plugin_add" src="hooks/after_plugin_add.js" />
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="Nta_mobilepay">
				<param name="android-package" value="dk.wsy.Nta_mobilepay" />
			</feature>
		</config-file>
        <source-file src="src/android/dk/wsy/Nta_mobilepay.java" target-dir="src/dk/wsy" />
		<source-file src="src/android/mobilepay-appswitch-1.7.0.jar" target-dir="libs/" />

	</platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Nta_mobilepay">
                <param name="ios-package" value="Nta_mobilepay" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/Nta_mobilepay.h" />
        <header-file src="src/ios/MobilePayCancelledPayment.h" />
        <header-file src="src/ios/MobilePayManager.h" />
        <header-file src="src/ios/MobilePayPayment.h" />
        <header-file src="src/ios/MobilePaySuccessfulPayment.h" />
		<framework src="src/ios/libMobilePayManager1.7.1.a" custom="true" type="projectReference" target="all" arch="arm64" /> />
        <source-file src="src/ios/Nta_mobilepay.m" />
    </platform>
</plugin>
